:root {
  font-size: 62.5%;

  --font-text: 'Roboto', sans serif;
  --color-text: hsla(240, 6%, 21%, 1);
  --fill: hsla(240, 6%, 21%, 1);
  --button-color: hsla(240, 9%, 89%, 1);
  --button-color-hover: hsla(194, 97%, 31%, 1);

  --bg-dark-color: hsla(240, 5%, 7%, 1);
  --bg-card-color: hsla(240, 6%, 17%, 1);

  --color-fig: hsla(240, 6%, 21%, 1);

  --color-slider: #323238;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-text);
}

.hide {
  display: none;
}

.container {
  background-color: #ffffff;
  display: grid;
  height: 100vh;
}

main {
  align-self: center;
  justify-self: center;
}

#timer {
  max-width: 32.1rem;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3rem, 3rem + 20vw, 12.6rem);
  color: var(--color-text);
  line-height: 14.8rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons button svg {
  width: clamp(2rem, 3rem + 4vw, 4.8rem);
}

.buttons button svg path {
  fill: var(--fill);
}

#sounds {
  max-width: 30.8rem;
  margin: 3.2rem auto 0;
  display: grid;
}

#sounds div {
  display: flex;
  justify-self: center;
  gap: 3.2rem;
}

#sounds > div + div {
  margin-top: 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#sounds .card {
  width: clamp(5rem, 5rem + 20vw, 13.8rem);
  height: clamp(8rem, 5rem + 21vw, 15.2rem);
  text-align: center;
  padding: 4.8rem;
  background-color: var(--button-color);
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

#sounds .card svg path {
  fill: var(--color-fig);
}

#sounds .active {
  background: var(--button-color-hover);
}

#sounds .active svg path,
#sounds .active svg rect,
#sounds .active svg circle {
  fill: #ffffff;
}

.vol {
  appearance: none;
  width: 9rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--color-slider);
}

.vol::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--color-slider);

  width: 1.6rem;
  height: 1.6rem;
  border-radius: 9999px;
}

.active .vol,
.active .vol::-webkit-slider-thumb {
  background-color: #ffffff;
}

.bg-change button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
}

.dark {
  background-color: var(--bg-dark-color);
}

@media (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(3rem, 4rem + 4vw, 19.2rem);
  }
}
